
*{
    font-family: Galada;
}

#infoBeginning{
    padding:10px 0 10px 0;
    text-align: center;
    background-color: #F8EABD;
}

#navBar{
    background-color:grey;
}

/* Moving navbar to center*/
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
    padding: 0 50px 0 50px;
}

nav{
    font-size:18pt;
    padding:0;
    height:50px;
}

.easyHard{
    color:red;
    border:none;
}
.hovering{
    background-color:grey;
}

#container{
    max-width: 600px;
    /*to auto center*/
    margin:0 auto;
}

.square{
    width:28%;
    background: purple;
    padding-bottom: 30%;
    
    /*To make a grid; fit maximum in parent width*/
    float:left;
    margin:2%;
}